body{
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #f5f0f0;
}

main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.v-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.h-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.project-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.card {
    display: grid;
    gap: 10px;

    margin-top: 10px;
    text-align: center;
    width: 50%;
    background-color: #1a1a1a;
    
    border: 1px solid #4f4f4f;
    border-radius: 8px;
}

.card button {
    margin-top: auto;
    height: fit-content;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
