body {
    margin: 0;
    padding: 0;

    background-color: #181825;
    color: #cdd6f4;
    font-family: "JetBrains Mono", monospace;
}
/* Target buttons and inputs when they are selected */
.menu-button:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 2px solid #6060a3; 
  outline-offset: 2px;
}

hr {
    width: 100%;
    border: 1px solid #7777cc;
}

/* header */
.menu-header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #454575;
    border-radius: 6px;

    padding: 6px;
    gap: 2px;
}

.menu-header .options {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    
    gap: 8px;
}

.menu-button, button.menu-button {
    user-select: none;
    text-decoration: none;
    border: 2px solid #454575;
    border-radius: 3px;

    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: #cdd6f4;
    padding: 0 2px 0 2px;

    transition: background-color 0.5s;
}

.menu-button:hover {
    background-color: #3b3b64;
    font-weight: 600;
}
/* main-welcome */
.main-welcome {
    user-select: none;
    text-align: center;
    margin: 10px 0px;
}
/* cards */
.card-view {
    display: flex;
    margin: 16px auto;
    gap: 8px;

    width: 80%;
    max-width: 1000px;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;

    border: 1px solid #454575;
    border-bottom: 3px solid #3b3b64;
    border-radius: 8px;
    padding: 0 12px 0 12px;

    min-height: fit-content;
}

.card-title, .card-info {
    text-align: center;
} 

.card .menu-button {
    display: flex;
    margin-top: auto;
    margin-bottom: 6px;
    justify-content: center;
}

/* create inputs */
.create-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.create-input-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.create-input-container button {
    margin-bottom: 3px !important;
    margin-bottom: 1px;
}

.create-action-container {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    justify-content: center;
}

/* projectList */

.project-list {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 8px;
}

.project {
    display: flex;

    list-style-type: none;
    border: 1px solid #454575;
    border-bottom: 3px solid #454575;
    border-radius: 6px;

    padding: 12px;
}

.project .menu-button {
    margin-left: auto;
    height: min-content;
    align-self: flex-end;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.project-name {
    font-weight: 600;
    margin-bottom: 8px;
}

.project-path, .project-version {
    background-color: #454575;
    border-radius: 6px;
    padding: 1px 4px;
}

/* searchbar */

.search-bar {
    display: flex;
    justify-content: center;
    margin-left: 0 auto;

    gap: 6px;
    padding: 12px 0 0 0;

}
.search-bar input {
    background-color: transparent;
    color: #cdd6f4;
    border: 2px solid #7777cc;
    border-radius: 6px;

    padding: 6px;
    width: 50vw;
    max-width: 800px;

    font-size: 14px;
    font-weight: 600;
    outline: none;
}
.search-bar .menu-button {
    width: 36px;
    border-radius: 8px;
    outline: none;
}

/* classes */

.input-area {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 6px;
}

.input-area input {
    background-color: transparent;
    border: 2px solid #454575;
    border-radius: 8px;
    padding: 4px;

    color: #cdd6f4;
}

.textbox {
    max-height: 100px;
    min-height: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;

    white-space: pre-wrap;

    font-size: 14px;
    font-weight: 500;
}

