#main{
    background-color: rgba(163, 94, 231, 60);
    padding: 0;
    margin: 0;
}
#textorandom{
    color: red;
    background-color: aqua;
}

#scroll-bar{
    background-color: white;
}

#main-top{
    background-color: rgba(163, 0, 231, 60);
    margin: 0;
    padding: 0;
}

#tester{
    background-color: rgba(163, 94, 231, 60);
}

#user-message{
    background-color: #b1c5a1;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

#assistant-message{
    background-color: #FFFFFF;
    color: black;
    border-radius: 10px;
    padding: 5px;
}